
client.exe
client.ilk
client.pdb
game/.DS_Store
glew32.dll
iconv.dll
libcocos2d.dll
libcurl.dll
libmpg123.dll
libogg.dll
libtiff.dll
libvorbis.dll
libvorbisfile.dll
lua51.dll
msvcp120.dll
msvcp140d.dll
msvcr120.dll
OpenAL32.dll
sqlite3.dll
ucrtbase.dll
ucrtbased.dll
vcruntime140d.dll
zlib1.dll
