<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadingmask_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{176,97},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingmask_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{40,1},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popui_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{339,65}</string>
                <key>spriteSourceSize</key>
                <string>{343,65}</string>
                <key>textureRect</key>
                <string>{{1,288},{339,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popui_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,173}</string>
                <key>spriteSourceSize</key>
                <string>{174,173}</string>
                <key>textureRect</key>
                <string>{{1,97},{174,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popui_btn_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,57}</string>
                <key>spriteSourceSize</key>
                <string>{139,57}</string>
                <key>textureRect</key>
                <string>{{276,1},{139,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popui_btn_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,57}</string>
                <key>spriteSourceSize</key>
                <string>{139,57}</string>
                <key>textureRect</key>
                <string>{{136,1},{139,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popui_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popui.png</string>
            <key>size</key>
            <string>{416,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a49218627400b4d0c6117dfc028f9ef:c90353b09ee012026d41f360890d3ce9:9aef0c0cd3adb76ea518d0bbb6c0c695$</string>
            <key>textureFileName</key>
            <string>popui.png</string>
        </dict>
    </dict>
</plist>
