<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qznn_btn_times_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{100,1410},{88,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_btn_times_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{157,1706},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_btn_times_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{100,1449},{88,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_btn_times_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{100,1488},{88,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_btn_times_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{180,1667},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_btn_times_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{1,1672},{88,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_btn_times_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{79,1701},{74,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_btn_times_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{118,1701},{74,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_panel_1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,37}</string>
                <key>spriteSourceSize</key>
                <string>{38,37}</string>
                <key>textureRect</key>
                <string>{{217,1240},{38,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_panel_1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,42}</string>
                <key>spriteSourceSize</key>
                <string>{172,42}</string>
                <key>textureRect</key>
                <string>{{1,335},{172,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_panel_1003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{100,1314},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_panel_1004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,49}</string>
                <key>spriteSourceSize</key>
                <string>{230,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_times_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{40,1672},{88,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_times_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{98,35}</string>
                <key>spriteSourceSize</key>
                <string>{104,35}</string>
                <key>textureRect</key>
                <string>{{105,1277},{98,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_times_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,31}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{100,1602},{78,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_times_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,31}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{100,1635},{78,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_times_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,35}</string>
                <key>spriteSourceSize</key>
                <string>{104,35}</string>
                <key>textureRect</key>
                <string>{{113,1240},{102,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_times_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{78,31}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{100,1668},{78,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_times_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,35}</string>
                <key>spriteSourceSize</key>
                <string>{104,35}</string>
                <key>textureRect</key>
                <string>{{1,1272},{102,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_times_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{62,31}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{190,1415},{62,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{193,94}</string>
                <key>spriteSourceSize</key>
                <string>{195,100}</string>
                <key>textureRect</key>
                <string>{{1,52},{193,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{193,94}</string>
                <key>spriteSourceSize</key>
                <string>{195,100}</string>
                <key>textureRect</key>
                <string>{{1,148},{193,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,31}</string>
                <key>spriteSourceSize</key>
                <string>{121,31}</string>
                <key>textureRect</key>
                <string>{{127,1174},{121,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,31}</string>
                <key>spriteSourceSize</key>
                <string>{121,31}</string>
                <key>textureRect</key>
                <string>{{127,1207},{121,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,67}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,379},{167,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,89}</string>
                <key>spriteSourceSize</key>
                <string>{189,89}</string>
                <key>textureRect</key>
                <string>{{1,244},{189,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,62}</string>
                <key>textureRect</key>
                <string>{{192,334},{110,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,62}</string>
                <key>textureRect</key>
                <string>{{1,1208},{110,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,57}</string>
                <key>spriteSourceSize</key>
                <string>{139,57}</string>
                <key>textureRect</key>
                <string>{{196,52},{139,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,57}</string>
                <key>spriteSourceSize</key>
                <string>{139,57}</string>
                <key>textureRect</key>
                <string>{{196,193},{139,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,39}</string>
                <key>spriteSourceSize</key>
                <string>{75,39}</string>
                <key>textureRect</key>
                <string>{{180,1552},{75,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{197,1373},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{190,1510},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,97}</string>
                <key>spriteSourceSize</key>
                <string>{361,97}</string>
                <key>textureRect</key>
                <string>{{1,1309},{361,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,78}</string>
                <key>spriteSourceSize</key>
                <string>{73,78}</string>
                <key>textureRect</key>
                <string>{{100,1527},{73,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{127,600},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{205,1279},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{197,1325},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1026_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{190,1448},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1026_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{157,80}</string>
                <key>spriteSourceSize</key>
                <string>{163,88}</string>
                <key>textureRect</key>
                <string>{{170,446},{157,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1026_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{180,1593},{72,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qznn_ui_1027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{170,605},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{204,605},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,74}</string>
                <key>spriteSourceSize</key>
                <string>{136,74}</string>
                <key>textureRect</key>
                <string>{{1,448},{136,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qznn_ui_1030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,74}</string>
                <key>spriteSourceSize</key>
                <string>{136,74}</string>
                <key>textureRect</key>
                <string>{{1,524},{136,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,600},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{127,642},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,676},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{127,718},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,752},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{127,794},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,828},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{127,870},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,904},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{127,946},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,980},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{127,1022},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,1056},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{127,1098},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_qznn_result_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,74}</string>
                <key>spriteSourceSize</key>
                <string>{124,74}</string>
                <key>textureRect</key>
                <string>{{1,1132},{124,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qznn_public.png</string>
            <key>size</key>
            <string>{256,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:080b2d435a8559874d581d7d1e2e299d:bbb228aaf6711ed56f369d1ff072a8dd:d1e8e288241728f1339cc12c6d128230$</string>
            <key>textureFileName</key>
            <string>qznn_public.png</string>
        </dict>
    </dict>
</plist>
