<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{13,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,46}}</string>
                <key>sourceSize</key>
                <string>{13,46}</string>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,33},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,33},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,33},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,34},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>b_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bibei.png</string>
            <key>size</key>
            <string>{295,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6258c11156bd58207e1d1e9a95bde09d:a79e32cb6a2cd929fb60a361bcf54906:9a03a62ea16d016c55501eb8c4e01bde$</string>
            <key>textureFileName</key>
            <string>bibei.png</string>
        </dict>
    </dict>
</plist>
